.header-links__lang-link {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
    color: #FFF;
    padding-right: 18px;
    text-decoration: none;


}

.header-links__lang-link:last-child {
    padding-right: 0;
}


@media screen and (max-width: 425px) {
    .header-links__lang-link {
        font-size: 20px;
        line-height: 113%;
    }

}

@media screen and (max-width: 320px) {
    .header-links__lang-link {
        font-size: 18px;
        line-height: 111%;
        max-width: 50px;
    }

}