.place__image {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 460px;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    grid-area: image;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        max-width: 340px;
    }
}