.place__image {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 460px;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    grid-area: image;
    margin-left: auto;
    margin-right: auto;
}