.lead {
    margin: 0;
    padding: 0;
    max-width: 984px;
    max-height: 1005px;
    display: flex;
    flex-direction: column;
    margin: 56px auto 0 auto;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 90%;
        margin-top: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 100%;
        margin-top: 48px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 99%;
        margin-top: 48px;
    }
}