.place {
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 48px 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 48px;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
        grid-template-areas:
        "title website"
        "image paragraph";
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {

        -webkit-column-gap: 32px;

           -moz-column-gap: 32px;

                column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        margin-bottom: 73px;
        -webkit-column-gap: 28px;
           -moz-column-gap: 28px;
                column-gap: 28px;
    }
}

@media screen and (max-width: 623px) {
    .place {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto 32px auto 32px auto 32px auto;
            grid-template-areas:
            "title"
            "website"
            "image"
            "paragraph";
        gap: 32px;
    }
}