.place {
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 48px;
    column-gap: 40px;
    grid-template-areas:
        "title website"
        "image paragraph";
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
    
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        margin-bottom: 73px;
        column-gap: 28px;
    }
}

@media screen and (max-width: 623px) {
    .place {
        grid-template-columns: minmax(320px, 460px);
        gap: 32px;
        grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
        grid-template-areas:
        "title"
        "website"
        "image"
        "paragraph";
    }
}

