.place__web-site {
    margin: 0;
    padding: 0;
    grid-area: website;
    -ms-grid-row-align: end;
        align-self: end;
}

@media screen and (max-width: 320px) {
    .place__web-site {
        margin-left: 16px;
    }
}